@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";

.search-menu {
  .filter-group {
    margin-right: 5px;
    margin-top: 5px;
  }
  .dropdown {
    .dropdown-menu {
      .badge {
        float: right;
      }
    }
  }
  .page-count {
    margin-top: 10px;
    display: inline-block;
    float: right;
  }
  .clear-search {
    margin-top: -1px;
  }
}
